{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/srwords/srwords.css">
<script type="text/javascript" src="/static/srwords/srwords.js"></script>
<style type="text/css">
    #SeeruoWords{
        margin-top: 50px;
    }
</style>
<div class="content-block">
	<section>
		{% if title %}
		<h2>{{title}}</h2>
		{% endif %}

		{{ content|raw }}

		{% if single_page != true %}
		<blockquote class="author_block">
			<ul>
				<li>本文作者: {{author}}</li>
				<li>本文链接: {{linker}}</li>
				<li>版权声明: {{license}}</li>
			</ul>
		</blockquote>
		<div id="SeeruoWords"></div>
		{% endif %}

	</section>
	<script type="text/javascript">
		document.querySelector('body').onload= function () {
			SrWords('#SeeruoWords',{
	            // apiBase:"http://api.codegrids.com/api"
	        })
		}
	</script>
</div>
{% endblock %}