{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/srwords/srwords.css">
<style type="text/css">
    #SeeruoWords{
        margin-top: 50px;
    }
</style>
<div class="content-block">
	<section>
		{% if title %}
		<h2>{{title}}</h2>
		{% endif %}

		{{ content|raw }}

		{% if single_page != true %}
		<blockquote class="author_block">
			<ul>
				<li>本文作者: {{author}}</li>
				<li>本文链接: {{href}}</li>
				<li>版权声明: 本博客所有文章除特别声明外，转载请注明出处！</li>
			</ul>
		</blockquote>
		<div id="SeeruoWords"></div>
		{% endif %}

	</section>
    <script type="text/javascript" src="/static/srwords/srwords.js"></script>
	<script type="text/javascript">
		/**
		 * [onload 页面加载完成之后，执行插件初始化]
		 * @DateTime 2018-09-23
		 * @return   {[type]}   [description]
		 */
		document.querySelector('body').onload= function () {
			SrWords('#SeeruoWords')
		}
	</script>
</div>
{% endblock %}